.footer {
    display: flex;
    border-top: 1px solid;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: black;
    margin-top: 50px;
    margin-bottom: 0;
    img {
        width: 200px;
    }
    .line {
        width: 2px;
        height: 15vh;
        background-color: white;
    }
}

@media screen and (min-width: 1000px) {
    .footer {
        height: auto;
        gap: 20px;
        img {
            width: 300px;
        }
        p {
            font-size: 30px;
        }
        .line {
            height: 13rem;
        }
    }
}