.aboutMe {
    padding-inline: 50px;
    margin-top: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    h1 {
        font-size: 7vw;
    }
    p {
        font-size: 4vw;
        text-align: justify;
    }
}

@media screen and (min-width: 1000px) {
    .aboutMe {
        padding-inline: 15vw;
        h1 {
            font-size: 65px;
        }
        p {
            font-size: 40px;
        }
    }
}