.light {
    background-color: #ebebeb;
    color: black;
    .projetos{
        background-color: #ebebeb;
    }
    .techSkills {
        background-color: #ebebeb;
        color: black;
    }
    .footer {
        color: black;
        border-top: 1px solid black;
        .line {
            background-color: black;
        }
    }
}

.dark {
    background-color: #1B1B1B;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: space-between;
    .footer {
        color: white;
    }
}